@model ProductListViewModel
@{
    ViewData["Title"] = "Product List";
}

@for (var i = 0; i < Model.Products.Count; i++)
{
    var product = Model.Products[i];
    <a id="product @i" class="card" onclick="incrementViewCount(@i)" href="@Url.Action("LinkClicked", "ProductList", new{productId = product.ProductId})">
        <h3 class="card-title">@product.Name</h3>
        @if (!string.IsNullOrEmpty(product.Description))
        {
            <span class="card-body">@product.Description</span>
        }
        <div class="card-footer">
            <div class="row" >
                <div class="col-sm-6 text-start text-muted">
                    <span>Views: </span>
                    <span id="viewCount @i"> @product.ViewCount</span>
                </div>
                <span class="col-sm-6 text-end">£@product.Price</span>
            </div>
        </div>
    </a>
    
}
